
  * {
    box-sizing: border-box;
  }

  .fl {
    float: left;
  }
.hornet-box {
    border: 0.063em solid #999;
    border-radius: 0.313em;
    padding-left: 0.625em;
    margin: 1.250em;
    min-width:20em;
    min-height:30em;
    padding:1em
}
.hornet-box.image-renderer {
  padding: 0;
}

.action-element {  float: left;
    margin: 1.125em 0;
    vertical-align: middle;
}

.cropper {
  background: transparent;
  border: 0.063em solid #999;
  border-radius: 0.188em;
}

#image{
  position: absolute;
}

.react-draggable, .cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}
.react-draggable strong {
  background: #ddd;
  border: 0.063em solid #999;
  border-radius: 0.188em;
  display: block;
  margin-bottom: 0.625em;
  padding: 0.188em 0.313em;
  text-align: center;
}





.button {
  fill: black;
}

a .button-svg:hover, .button:focus {
  opacity:0.7;
  /* fill: darkgrey; */
}

.button-svg {
  height: 2.250em;
  width: 2.250em;
}


.button-svg-disabled {
  pointer-events: none;
  height: 2.250em;
  width: 2.250em;
}

.button-svg-disabled path {
  fill:grey;
}

#spacer {
  padding-left: 5em;
}
